.bottom-container {
  display: grid;
  grid-template-rows: 65px 400px;
  font-family: var(--ff-1);
  color: var(--accent-1);
}

/* Controls container */
.controls-container {
  grid-area: 1 / 1 / 2 / -1;
  justify-content: center;
  gap: 15px;
}

.control-btn {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: .85rem;
  font-weight: 600;
  color: var(--accent-1);
  cursor: pointer;
}

.control-btn.selected {
  border: 2px solid var(--accent-1);
}

/* Infos container */
.infos-container {
  grid-area: 2 / 1 / -1 / -1;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: grab;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infos-container::-webkit-scrollbar {
  display: none;
}

.daily-info-box,
.hourly-info-box {
  display: grid;
  align-items: center;
  flex-shrink: 0;
}

.daily-info-box {
  height: 55px;
  width: 340px;
  grid-template-columns: 1fr 160px 30px;
}

.hourly-info-box {
  height: 50px;
  width: 265px;
  grid-template-columns: 1fr 90px 30px;
}

.day,
.bottom-container .time {
  font-size: .95rem;
  font-weight: 500;
}

.temps-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.divider {
  height: 28px;
  width: 1px;
  background-color: white;
}

.max-temp,
.min-temp {
  font-weight: 700;
}

.max-temp {
  width: 65px;
  font-size: 1.4rem;
  text-align: end;
}

.min-temp {
  width: 45px;
  font-size: .9rem;
}

.bottom-container .icon {
  height: 28px;
  width: 28px;
}

.bottom-container .temp {
  font-size: 1.4rem;
  font-weight: 700;
}

@media (min-width: 650px) {
  .daily-info-box {
    width: 445px;
    grid-template-columns: 1fr 190px 40px;
  }
  
  .hourly-info-box {
    width: 320px;
    grid-template-columns: 1fr 110px 40px;
  }

  .day,
  .bottom-container .time {
    font-size: 1rem;
  }
  
  .bottom-container .icon {
    height: 33px;
    width: 33px;
  }  
}

@media (min-width: 950px) {
  .bottom-container {
    grid-template-rows: 95px 280px;
  }

  .infos-container {
    width: 944px;
    place-self: start center;
    place-items: start center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .daily-info-box,
  .hourly-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }

  .daily-info-box {
    height: 235px;
    width: 130px;
  }

  .hourly-info-box {
    height: 200px;
    width: 118px; /* 944px / 8 */
  }

  .day,
  .bottom-container .time {
    font-size: 1.3rem;
  }

  .temps-box {
    flex-direction: column;
    justify-content: center;
  }

  .divider {
    display: none;
  }

  .max-temp,
  .min-temp {
    text-align: center;
  }

  .max-temp {
    width: auto;
    font-size: 1.7rem;
  }
  
  .min-temp {
    width: auto;
    font-size: 1rem;
  }

  .bottom-container .icon {
    height: 37px;
    width: 37px;
  }

  .bottom-container .temp {
    font-size: 1.7rem;
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .controls-container {
    gap: 25px;
  }

  .control-btn {
    width: 86px;
    height: 38px;
    padding-top: 2px;
    font-size: 1rem;
  }

  .infos-container {
    width: 1260px;
  }

  .daily-info-box {
    width: 155px;
  }

  .hourly-info-box {
    width: 140px; /* 1260px / 9 */
  }

  .day,
  .bottom-container .time {
    font-size: 1.45rem;
  }

  .max-temp {
    font-size: 2.1rem;
  }
  
  .min-temp {
    font-size: 1.35rem;
  }
  
  .bottom-container .icon {
    height: 42px;
    width: 42px;
  }

  .bottom-container .temp {
    font-size: 2.1rem;
  }
}