.bottom-container {
  height: 465px;
  display: grid;
  grid-template-rows: 50px 1fr;
  row-gap: 25px;
  font-family: 'Montserrat', sans-serif;
  color: var(--accent-1);
}

/* Controls container */
.bottom-container .controls-container {
  grid-area: 1 / 1 / 2 / -1;
  gap: 15px;
}

.bottom-container .control-btn {
  width: 73px;
  height: 33px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: .85rem;
  font-weight: 600;
  color: var(--accent-1);
  cursor: pointer;
}

.bottom-container .control-btn.selected {
  border: 2px solid var(--accent-1);;
}

/* Infos container */
.bottom-container .infos-container {
  grid-area: 2 / 1 / -1 / -1;
  align-items: center;
  gap: 25px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bottom-container .infos-container::-webkit-scrollbar {
  display: none;
}

.bottom-container .daily-info-box,
.bottom-container .hourly-info-box {
  display: grid;
  align-items: center;
}

.bottom-container .daily-info-box {
  width: 310px;
  grid-template-columns: 1fr 130px 30px;
}

.bottom-container .hourly-info-box {
  width: 240px;
  grid-template-columns: 1fr 70px 30px;
}

.bottom-container .day,
.bottom-container .time {
  font-size: .95rem;
  font-weight: 500;
}

.bottom-container .temps-box *,
.bottom-container .temp {
  font-size: 1.05rem;
  font-weight: 700;
}

.bottom-container .max-temp {
  margin-right: 5px;
}

.bottom-container .min-temp {
  margin-left: 5px;
}

.bottom-container .icon {
  height: 25px;
  width: 25px;
}
