.bottom-container {
  height: 480px;
  display: grid;
  grid-template-rows: 50px 1fr;
  row-gap: 15px;
  font-family: var(--ff-1);
  color: var(--accent-1);
}

/* Controls container */
.controls-container {
  grid-area: 1 / 1 / 2 / -1;
  gap: 15px;
}

.control-btn {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: .85rem;
  font-weight: 600;
  color: var(--accent-1);
  cursor: pointer;
}

.control-btn.selected {
  border: 2px solid var(--accent-1);
}

/* Infos container */
.infos-container {
  grid-area: 2 / 1 / -1 / -1;
  align-items: center;
  gap: 25px;
  padding-bottom: 25px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: grab;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infos-container::-webkit-scrollbar {
  display: none;
}

.daily-info-box,
.hourly-info-box {
  display: grid;
  align-items: center;
}

.daily-info-box {
  width: 340px;
  grid-template-columns: 1fr 155px 30px;
}

.hourly-info-box {
  width: 265px;
  grid-template-columns: 1fr 90px 30px;
}

.day,
.bottom-container .time {
  font-size: .95rem;
  font-weight: 500;
}

.temps-box *,
.bottom-container .temp {
  font-size: 1.05rem;
  font-weight: 700;
}

.max-temp {
  margin-right: 5px;
}

.min-temp {
  margin-left: 5px;
}

.bottom-container .icon {
  height: 28px;
  width: 28px;
}

@media (min-width: 650px) {
  .bottom-container {
    height: 495px;
    row-gap: 20px;
  }

  .daily-info-box {
    width: 415px;
    grid-template-columns: 1fr 160px 40px;
  }
  
  .hourly-info-box {
    width: 315px;
    grid-template-columns: 1fr 95px 40px;
  }

  .day,
  .bottom-container .time {
    font-size: 1rem;
  }
  
  .bottom-container .icon {
    height: 30px;
    width: 30px;
  }  
}

@media (min-width: 950px) {
  .bottom-container {
    height: 310px;
    row-gap: 50px;
    margin-top: 85px;
  }

  .infos-container {
    height: 200px;
    width: 945px;
    place-self: start center;
    place-items: start center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .daily-info-box,
  .hourly-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    flex-shrink: 0;
  }

  .daily-info-box {
    width: 115px;
  }

  .hourly-info-box {
    width: 105px; /* 945px / 9 */
  }
  
  .temps-box *,
  .bottom-container .temp {
    font-size: .95rem;
  }

  .bottom-container .temp {
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .bottom-container {
    margin-top: 100px;
  }

  .controls-container {
    gap: 25px;
  }

  .control-btn {
    width: 86px;
    height: 38px;
    padding-top: 2px;
    font-size: 1rem;
  }

  .infos-container {
    width: 1080px;
  }

  .daily-info-box {
    width: 135px;
  }

  .hourly-info-box {
    width: 120px; /* 1080px / 9 */
  }
  
  .temps-box *,
  .bottom-container .temp {
    font-size: 1.05rem;
  }
  
  .bottom-container .icon {
    height: 35px;
    width: 35px;
  }
}